.titlebar {
  height: 36px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  user-select: none;
  padding: 0 10px;
}

.titlebar-bg {
  background-color: #121212;
  background: #121212;
  border-bottom: 1px solid #222;
}

.title {
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titlebar .window-controls {
  display: flex;
  gap: 10px;
  -webkit-app-region: no-drag;
}

.titlebar button {
  /* color: white; */
  width: 17px;
  height: 17px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  padding: 12px;
}

.titlebar button:hover {
  outline: none;
  border: none;
  /* background-color: #222; */
  color: #ccc;
}

#close:hover {
  color: rgba(255, 0, 0, 0.781);
}

/* #close:hover {
  outline: none;
  border: none;
  background-color: #fa615e94;
} */

.side-buttons {
  display: flex;
  gap: 10px;
  -webkit-app-region: no-drag;
}